.App {
  text-align: center;
}

.App-Container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.Table {
  border: "1px solid white";
}

.th {
  border: "1px solid white";
  text-align: "center";
}

.td {
  border: "1px solid white";
  text-align: "center";
}